<div class="container">

    <h1 style="margin-top: 50px;"><strong>{{reunion.nombre}}</strong></h1>

    <div class="row">

        <div class="col-sm-12 col-md-6 mt-5">

            <div class="form-group mt-3">
                <label for="id" class="form-label" style="font-size: 20px;"><strong>No. de Asistente:</strong></label>
                <label for="id_integrantes" class="form-label" style="font-size: 20px; margin-left: 10px;">{{reunion.id_detReunion}}</label>
            </div>

            <div class="form-group mt-3" style="margin: 10px auto">
                <label for="fecha" class="form-label" style="font-size: 20px;"><strong>Fecha: </strong></label>
                <label for="fecha" class="form-label" style="font-size: 20px; margin-left: 10px;">{{reunion.fecha}}</label>
            </div>

            <div class="form-group mt-3" style="margin: 10px auto">
                <label for="lugar" class="forml-label" style="font-size: 20px;"><strong>Lugar:</strong></label>
                <label for="lugar" class="form-label" style="font-size: 20px; margin-left: 10px;">{{reunion.lugar}}</label>
            </div>

            <div class="form-group mt-3" style="margin: 10px auto">
                <label for="unidad" class="form-label" style="font-size: 20px;"><strong> Unidad: </strong></label>
                <label for="unidad" class="form-label" style="font-size: 20px; margin-left: 10px;">{{reunion.unidad}}</label>
            </div>

        </div>

        <!-- SEGUNDO APARTADO DE ROW -->
        <!-- ESTATUS -->
        <div class="col-sm-12 col-md-6 mt-5">

            <div class="form-group mt-3">
                <label for="puntualidad" class="form-label" style="font-size: 20px;"><strong> Puntualidad: </strong></label>
                <label for="puntualidad" class="form-label" style="font-size: 20px; margin-left: 10px;">{{reunion.puntualidad}}</label>
            </div>

            <div class="form-group mt-3" style="margin: 10px auto">
                <label for="disciplina" class="form-label" style="font-size: 20px;"><strong>Disciplina: </strong></label>
                <label for="disciplina" class="form-label" style="font-size: 20px; margin-left: 10px;">{{reunion.disciplina}}</label>
            </div>

            <div class="form-group mt-3" style="margin: 10px auto">
                <label for="usoUniforme" class="form-label" style="font-size: 20px;"><strong>Uso de Uniforme: </strong></label>
                <label for="usoUniforme" class="form-label" style="font-size: 20px; margin-left: 10px;">{{reunion.usoUniforme}}</label>
            </div>

            <div class="form-group mt-3" style="margin: 10px auto">
                <label for="aseoPersonal" class="form-label" style="font-size: 20px;"><strong>Aseo Personal: </strong></label>
                <label for="aseoPersonal" class="form-label" style="font-size: 20px; margin-left: 10px;">{{reunion.aseoPersonal}}</label>
            </div>

            <div class="form-group mt-3" style="margin: 10px auto">
                <label for="estatus" class="form-label" style="font-size: 20px;"><strong>Estatus:</strong></label>
                <label for="esatus" class="form-label" style="font-size: 20px; margin-left: 10px; color: green;">{{reunion.estatus}}</label>
            </div>

        </div>
    </div>

</div>